@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<input type="text" id="first" placeholder="Enter First Value" class="form-control m-3" />
 <input type="text" id="second" placeholder="Enter Second Value" class="form-control m-3" />
<button type="submit" class="btn btn-outline-secondary" onclick="fun1()">submit</button>
<h3>The Result Is:</h3>
<h3 id="result"></h3>

<script>
   function fun1(){
        let val1 = $("#first").val()
        let val2 = $("#second").val()
        console.log(val1, val2)
        $.ajax({
            type: "POST",
            url: "@Url.Action("sum", "Home")",
            data: { x: val1, y: val2 },
            dataType: "text",
            success: ((data) => {
                $("#result").html(data)
                console.log(data)
            }),
            error: ((err) => {
                console.log(err)
            })
        })
   }
    
</script>

